name: "CI"

permissions:
 contents: read

on: [ push, pull_request, workflow_dispatch ]

jobs:
 ci:
  if: "! contains(toJSON(github.event.commits.*.message), '[ci skip]')"

  name: CI
  runs-on: ubuntu-24.04
  permissions:
   contents: read
   security-events: write
   actions: read
 
  strategy:
   fail-fast: true
   matrix:
    language: [ java ]

  defaults:
   run:
    shell: bash
 
  steps:
   - name: Checkout Code
     uses: actions/checkout@v5.0.0
     with:
      persist-credentials: false
      fetch-depth: 0
      submodules: true

   # TODO: verify maven wrapper as well
   - name: Verify Gradle Wrapper
     uses: gradle/actions/wrapper-validation@v5.0.0

   - name: Install Java
     uses: actions/setup-java@v5.0.0
     with:
      distribution: zulu
      java-version: 25

   - name: Cache Gradle wrapper
     uses: actions/cache@v4.3.0
     with:
      key: gradle-wrapper-${{hashFiles('**/gradle-wrapper.properties') }}
      restore-keys: |
       gradle-wrapper-
      path: |
       ~/.gradle/wrapper

   - name: Cache Gradle packages
     uses: actions/cache@v4.3.0
     with:
      key: gradle-packages-${{ hashFiles('**/*.gradle*') }}-${{hashFiles('**/versions.properties') }}-${{hashFiles('**/gradle.properties') }}-${{hashFiles('**/settings.gradle*') }}
      restore-keys: |
       gradle-packages-
       gradle-packages-${{ hashFiles('**/*.gradle*') }}-
      path: |
       ~/.gradle/caches
       .gradle

   - name: Cache Maven packages
     uses: actions/cache@v4.3.0
     with:
      key: maven-packages-${{hashFiles('.sha256sum') }}
      restore-keys: |
       maven-packages-
      path: |
       ~/.m2

   - name: Initialize CodeQL
     uses: github/codeql-action/init@v4.31.3
     with:
      languages: ${{ matrix.language }}
      queries: +security-and-quality
      tools: https://github.com/github/codeql-action/releases/download/codeql-bundle-v2.23.4/codeql-bundle-linux64.tar.gz
      #packs: |
      # Marcono1234/codeql-custom-queries-java@0.0.1

   - name: Build with Gradle
     run:
      ./build.sh

   - name: Upload Artifact
     uses: actions/upload-artifact@v5.0.0
     with:
      name: DarkAddons
      path: build/libs/*-opt.jar
      if-no-files-found: error

   - name: Perform CodeQL Analysis
     uses: github/codeql-action/analyze@v4.31.3
     with:
      category: "/language:${{ matrix.language }}"
      upload: failure-only
      output: sarif-results

   - name: Filter CodeQL Analysis Results
     uses: advanced-security/filter-sarif@v1.0.1
     with:
      patterns: |
       +**
       -SkytilsMod/**
       -build/bin/**
       -**:java/equals-on-unrelated-types
       -**:java/type-mismatch-modification
       -**:java/type-mismatch-access
       -**:java/non-sync-override
       -**:java/evaluation-to-constant
       -**:java/dereferenced-value-may-be-null
       -**:java/unknown-javadoc-parameter
       -**:java/multiplication-of-remainder
       -**:java/reference-equality-on-strings
       -**:java/inefficient-string-constructor
       -**:java/local-variable-is-never-read
       -**:java/unused-parameter
       -**:java/unused-reference-type
       -**:java/deprecated-call
      input: sarif-results/${{ matrix.language }}.sarif
      output: sarif-results/${{ matrix.language }}.sarif

   - name: Upload CodeQL Analysis Results
     uses: github/codeql-action/upload-sarif@v4.31.3
     with:
      sarif_file: sarif-results/${{ matrix.language }}.sarif

   - name: Perform ShellCheck Analysis
     uses: ludeeus/action-shellcheck@2.0.0
     env:
      SHELLCHECK_OPTS: -x
     with:
      check_together: 'yes'
      ignore_paths: ./SkytilsMod/**
